{% extends 'staff/base.html' %}
{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static 'record.css' %}">
    <title></title>
</head>
<body>
    {% block content %}
    <div>
        <div class="container">
            <div class="row">
                <div class="col-md-6 col-sm-offset-3">
                    <div class="card card-body img-rounded">
                        <form action="" method="post" class="text-center">
                            {% csrf_token %}
                            <div class="row">
                                <div class="col-md-12">
                                    <h3>Add a book in the database</h3>
                                </div>
                            </div>
                            {% include 'messages.html' %}
                            <div class="row">
                                <div class="col-md-12">
                                    <div class="input-group">
                                        <span class="input-group-addon"><i class="glyphicon glyphicon-book"></i></span>
                                        <input type="text" name="title" required placeholder="Book Title" class="form-control">
                                    </div>
                                </div>
                            </div>
                            <!-- <div class="row">
                                <div class="col-md-12">
                                    <div class="input-group">
                                        <span class="input-group-addon"><i class="glyphicon glyphicon-book"></i></span>
                                        <input type="text" name="description" placeholder="Book Description" class="form-control">
                                    </div>
                                </div>
                            </div> -->
                            <div class="row">
                                <div class="col-md-12">
                                    <div class="input-group">
                                        <span class="input-group-addon"><i class="glyphicon glyphicon-book"></i></span>
                                        <input type="text" name="author" required placeholder="Author" class="form-control">
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-12">
                                    <div class="input-group">
                                        <span class="input-group-addon"><i class="glyphicon glyphicon-book"></i></span>
                                        <input type="text" name="publisher" required placeholder="Publisher" class="form-control">
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-12">
                                    <div class="input-group">
                                        <span class="input-group-addon"><i class="glyphicon glyphicon-book"></i></span>
                                        <input type="text" name="year" required minlength="4" maxlength="4" min="1950" max="2099" placeholder="Year of Publication" class="form-control">
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-12">
                                    <div class="input-group">
                                        <span class="input-group-addon"><i class="glyphicon glyphicon-book"></i></span>
                                        <select class="form-control" name="type-of-book" id="">
                                            <option value="">-- Select type of book --</option>
                                            <option value="dictionary">Dictionary</option>
                                            <option value="encyclopedia">Encyclopedia</option>
                                            <option value="novel">Novel</option>
                                            <option value="text-book">Text Book</option>
                                        </select>
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-12">
                                    <div class="input-group">
                                        <span class="input-group-addon"><i class="glyphicon glyphicon-book"></i></span>
                                        <input type="text" name="ref_no" required placeholder="Book Ref. No." class="form-control">
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-12">
                                    <button type="submit" class="btn btn-primary">Add record</button>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
    {% endblock %}
</body>
</html>