{% extends 'staff/base.html' %}
{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="bootstrap/css/bootstrap.min.css">
    <link rel="shortcut icon" href="images/book-icon.jpg" type="image/x-icon">
    <link rel="stylesheet" href="styles.css">
    <link rel="stylesheet" href="{% static 'borrow-book.css' %}">
    <title>Maktaba MS | Borrow Book form</title>
</head>
<body>
    {% block content %}
    <div>
        <div class="container">
            <div class="row">
                <div class="col-md-6 col-sm-offset-3">
                    <form action="" method="post" class="card card-body img-rounded text-center">
                        {% csrf_token %}
                        <div class="row">
                            <div class="col-md-12">
                                <h4>Books borrow/return fill-in form</h4>
                            </div>
                        </div>
                        {% include 'messages.html' %}
                        <div class="row">
                            <div class="col-md-12">
                                <div class="input-group">
                                    <span class="input-group-addon"><i class="glyphicon glyphicon-bookmark"></i></span>
                                    <input type="text" name="studentname" class="form-control" placeholder="Student Name/Borrower">
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-12">
                                <div class="input-group">
                                    <span class="input-group-addon"><i class="glyphicon glyphicon-bookmark"></i></span>
                                    <select class="form-control" name="gender" id="">
                                        <option value="">-- select gender --</option>
                                        <option value="male">Male</option>
                                        <option value="female">Female</option>
                                    </select>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-12">
                                <div class="input-group">
                                    <span class="input-group-addon"><i class="glyphicon glyphicon-bookmark"></i></span>
                                    <input type="text" name="phone_no" class="form-control" placeholder="Phone No.">
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-12">
                                <div class="input-group">
                                    <span class="input-group-addon"><i class="glyphicon glyphicon-bookmark"></i></span>
                                    <input type="text" name="title" class="form-control" placeholder="Book Title">
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-12">
                                <div class="input-group">
                                    <span class="input-group-addon"><i class="glyphicon glyphicon-bookmark"></i></span>
                                    <input type="text" name="author" class="form-control" placeholder="Author">
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-12">
                                <div class="input-group">
                                    <span class="input-group-addon"><i class="glyphicon glyphicon-bookmark"></i></span>
                                    <input type="text" name="publisher" class="form-control" placeholder="Publisher">
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-12">
                                <div class="input-group">
                                    <span class="input-group-addon"><i class="glyphicon glyphicon-bookmark"></i></span>
                                    <input type="text" name="year-of-publication" class="form-control" placeholder="Year of publication">
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-12">
                                <div class="input-group">
                                    <span class="input-group-addon"><i class="glyphicon glyphicon-bookmark"></i></span>
                                    <input type="text" name="ref_no" class="form-control" placeholder="Book Reference No.">
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-12">
                                <div class="input-group">
                                    <span class="input-group-addon"><i class="glyphicon glyphicon-book"></i></span>
                                    <select class="form-control" name="type-of-book" id="">
                                        <option value="">-- Select type of book --</option>
                                        <option value="dictionary">Dictionary</option>
                                        <option value="encyclopedia">Encyclopedia</option>
                                        <option value="novel">Novel</option>
                                        <option value="text-book">Text Book</option>
                                    </select>
                                </div>
                            </div>
                        </div>
                        <!-- <div class="row">
                            <div class="col-md-12">
                                <div class="input-group">
                                    <span class="input-group-addon"><i class="glyphicon glyphicon-bookmark"></i></span>
                                    <input type="text" name="d-borrow" value=" now " class="form-control" placeholder="Date Borrowed">
                                </div>
                            </div>
                        </div> -->
                        <div class="row">
                            <div class="col-md-12">
                                <div class="input-group">
                                    <span class="input-group-addon"><i class="glyphicon glyphicon-bookmark"></i></span>
                                    <select name="status" onselect="hideField()" onpointermove="hideField()" class="form-control" id="select">
                                        <option value="" >-- Is the student borrowing or returning this book-- </option>
                                        <option id="option1" onclick="hideField()" value="borrow">Borrow</option>
                                        <option id="option" onclick="showField()" value="return">Return</option>
                                    </select>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-12">
                                <div class="input-group">
                                    <span class="input-group-addon"><i class="glyphicon glyphicon-bookmark"></i></span>
                                    <input type="text" id="returned" value="{% now Y %}" name="d-returned" class="form-control" placeholder="Date Returned: Leave blank if book is borrowed">
                                </div>
                                <p class="help-block"><b>NB: Leave "date returned field" blank if book is being borrowed</b></p>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-12">
                                <button type="submit" class="btn btn-primary">Submit form</button>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
    <script type="text/javascript" src="{% static 'borrow-book.js' %}">
        
    </script>
    {% endblock %}
</body>
</html>