{% extends 'staff/base.html' %}
{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static 'search-form.css' %}">
    <title>Maktaba | Search Book</title>
</head>
<body>
    {% block content %}
    <div>
        <div class="container">
            <div class="row">
                <div class="col-md-6 col-sm-offset-3">
                    <div class="card card-body">
                        <form style="border: none;" action="" method="post" role="searchbox">
                            {% csrf_token %}
                            <div class="input-group">
                                <input type="text" name="search-book" placeholder="Enter book title..." class="form-control">
                                <span class="input-group-btn">
                                    <button style="background: teal;" class="btn" type="submit">
                                        <i style="color: white;" class="glyphicon glyphicon-search"></i>
                                    </button>
                                </span>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
            {% if title %}
            <div class="row">
                <div class="col-md-6 col-sm-offset-3">
                    <div class="card card-body img-rounded">
                        <div class="row">
                            <h4 class="text-center">Book Info.</h4>
                            <div id="description" class="col-md-12">
                                <hr style="height: 1px; margin-top: -1.5%; margin-left: 10%; margin-right: 10%; background-color: black">
                                {% include 'messages.html' %}
                                {% for title in title %}
                                    <h5>Book Title: <b>{{title.title}}</b></h5>
                                    
                                {% endfor %}
                                {% comment %} {% for author in author %}
                                    <h5>Author: {{author.author}}</h5>
                                {% endfor %}
                                {% for pb in publisher %}
                                    <h5>Publisher: {{pb.publisher}}</h5>
                                {% endfor %}
                                {% for yearOfpb in year_of_publication %}
                                    <h5>Year of Publication: {{yearOfpb.year_of_publication}}</h5>
                                {% endfor %}
                                {% for type in type_of_book %}
                                    <h5>Type of book: {{type.type_of_book}}</h5>
                                {% endfor %}
                                {% for num in ref_num %}
                                    <h5>Ref. No: {{num.book_ref_no}}</h5>
                                {% endfor %} {% endcomment %}
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            {% else %}
            <div class="row">
                <div class="col-md-6 col-sm-offset-3 text-center">
                    <!-- <div class="card card-body"> -->
                        {% include 'messages.html' %}
                    <!-- </div> -->
                </div>
            </div>
            {% endif %}
        </div>
    </div>
    {% endblock %}
</body>
</html>