{% include 'staff/base.html' %}
{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static 'forms.css'%}">
    <title>Maktaba</title>
</head>
<body>
    {% block content %}
    <div class="container">
        <div class="row">
            <div class="col-md-5 col-sm-offset-4">
                <form action="" method="post" role="form" class="card card-body">
                    {% csrf_token %}
                    <div class="row">
                        <div class="row">
                            <div class="col-md-12 text-center">
                                <h3>Staff Login</h3>
                            </div>
                        </div>
                        {% include 'messages.html' %}
                        <div class="col-md-12">
                            <div class="input-group">
                                <span class="input-group-addon"><i class="glyphicon glyphicon-user"></i></span>
                                <input type="text" class="form-control" name="staffname" placeholder="Enter staffname">
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-12">
                            <div class="input-group">
                                <span class="input-group-addon"><i class="glyphicon glyphicon-eye-close"></i></span>
                                <input type="password" class="form-control" name="password" placeholder="Password">
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-12">
                            <button type="submit" class="btn btn-primary">Login</button>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-12">
                            <h5 class="text-center">Don't have an account? <a href="{% url 'register' %}">Create account</a></h5>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
    <script>
        document.location.reload(forceGet)
    </script>
    {% endblock %}
</body>
</html>