/* styling description in search-form */
body::after {
    content: "";
    position: fixed;
    background-image: url(pile4.jpg);
    background-position: top 10% right 35%;
    opacity: 0.8;
    z-index: -1;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
}
.container {
    margin-top: 12.5%;
    margin-bottom: 5%;
}
#description > h5 {
    font-size: 15px;
    font-weight: 600;
    margin-left: 3%;
}
.card {
    margin-bottom: 10px;
    box-shadow: 0 10px 10px teal;
}
form > .row {
    margin: 5px 0;

}